<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="QuartzDBEntities" connectionString="metadata=res://*/MS_Sql_Model.csdl|res://*/MS_Sql_Model.ssdl|res://*/MS_Sql_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=QuartzDB;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>